.loading-state{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10000;
}

.loading-state.fixed{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.loading-state:before{

    position: absolute;
    content: '';
    display: none;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-bottom: 2px solid #ff495b;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    -webkit-animation: cardLoadingState linear 1s infinite;
    -o-animation: cardLoadingState linear 1s infinite;
    -moz-animation: cardLoadingState linear 1s infinite;
    -ms-animation: cardLoadingState linear 1s infinite;
    animation: cardLoadingState linear 1s infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

}

.loading-state:after{

    position: absolute;
    content: '';
    display: none;
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-top: 2px solid #40ff9c;
    left: 50%;
    top: 50%;
    margin-left: -37.5px;
    margin-top: -37.5px;
    -webkit-animation: cardLoadingState reverse linear 0.75s infinite;
    -o-animation: cardLoadingState reverse linear 0.75s infinite;
    -ms-animation: cardLoadingState reverse linear 0.75s infinite;
    animation: cardLoadingState reverse linear 0.75s infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

}

.loading-state.active, .loading-state.active:before, .loading-state.active:after{
    display: block;
}

@keyframes cardLoadingState{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@-o-keyframes cardLoadingState {
    0%{
        -o-transform: rotate(0);
    }
    100%{
        -o-transform: rotate(360deg);
    }
}

@-moz-keyframes cardLoadingState{
    0%{
        -moz-transform: rotate(0);
    }
    100%{
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes cardLoadingState{
    0%{
        -webkit-transform: rotate(0);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes cardLoadingState{
    0%{
        -ms-transform: rotate(0);
    }
    100%{
        -ms-transform: rotate(360deg);
    }
}